<% provide(:title, @user.profile.title) %>
<h1><%= @user.profile.title %></h1>

<div class="row">
<div class="span8">
 
        <span class="content">
        	<%= @user.profile.content %></span>

  </div>
</div>